*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;
    text-decoration: none;
    list-style: none;
    
 }
 :root {
    --bg-color: #FDF3CD;
    --text-color: #ffffff;
    --main-color:  #1E4C40;
    --error-color: #a11129;
    --correcto-color: #1ed12d;
}
.titulo-container {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
    margin-top: 50px;
    color: #3d685d;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.InicioSesion-container {
    background: rgba(0, 0, 0, 0.8) url('../../Generic/imagen/login.PNG') center/cover no-repeat fixed;
    display: flex;
    flex-direction: column; /* Alinear contenido en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh;
}

.card-container {
    width: 80%;
    max-width: 450px; /* Ajusta el ancho máximo del contenedor según tus necesidades */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
    /*padding: 20px; /* Ajusta el relleno interno según tus necesidades */
}

.card-body {
    padding: 20px;

}

.form-group {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.form-label {
    font-weight: bold;
    color: var(--main-color);
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1E4C40;
}

.btn-success {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: var(--main-color); /* Cambia el color al pasar el mouse */
    border-color: var(--main-color); /* Cambia el color al pasar el mouse */
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1E4C40;
}

.btn-block {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

.btn-block:hover {
    background-color: #218838;
}
.password-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px; /* Ajusta el margen según tu diseño */
}

.password-toggle-button:hover {
    color: var(--main-color); /* Color al pasar el ratón por encima */
}

.password-toggle-button.show {
    color: var(--main-color); /* Color del icono cuando la contraseña es visible */
}

.password-toggle-button.hide {
    color: var(--main-color); /* Color del icono cuando la contraseña está oculta */
}
.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegúrate de que el z-index sea mayor que el del contenido principal */
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Asegúrate de que el z-index sea menor que el del modal */
}
