/* Estilos para la sección de Multas */
.Multas h2 {
    color: var(--main-color);
    text-align: center;
    font-size: 3.0rem;
    font-weight: 800;
    margin-bottom: 50px;
    margin-top: 150px; /* Ajustamos el margen inferior del h1 */
}

.Multas .table {
    max-width: none; /* Elimina el ancho máximo */
    width: 80%; /* Reducir el ancho de la tabla */
    margin: 20px auto; /* Centrar la tabla */
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

/* Ajustes para las celdas de la tabla */
.Multas .table th,
.Multas .table td {
    padding: 6px; /* Reducir el relleno de las celdas */
    font-size: 14px; /* Reducir el tamaño de la fuente */
}

.Multas .table th {
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
}

.Multas .table-title {
    margin-top: 20px;
    font-size: 24px;
}

.pagination {
    display: inline-block;
  }
  
  .pagination .page-link {
    color: #1E4C40;
    background-color: transparent;
    border: 1px solid #1E4C40;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .pagination .page-link:hover {
    background-color: #1E4C40;
    color: #fff;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #1E4C40;
    border-color: #1E4C40;
    color: #fff;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
    border-color: #6c757d;
  }
  