.Inicio {
    margin: 10px;
    padding: 10;
}

.llamadoAccion {
    margin: 0;
    padding: 0;
}

.contenedorLlamadoAccion {
    margin: 0;
    padding: 0;
}

.box {
    margin: 0;
    padding: 0;
}

.box img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    
}

.conoceMas {
    position: absolute;
    bottom: 5px;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    background-color: #1E4C40;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.conoceMas:hover {
    background-color: #84c7a2;
}